<a href="https://colab.research.google.com/github/sagarkumarmishra/Data-Science-project/blob/complete-univariate-analysis/New_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv('/content/New_Data.csv')

In [26]:
df.head()

,Name,Address_line_1,District_ID,Pincode,state_id,sub_ownership_id,Column3,Longitude,Latitude
0,Sri Kanteerava Stadium,Bangalore,279.0,587201.0,15.0,Karnataka,NaN,"77?41'39""E","12?42'22""N"
1,Koramangala Indoor Stadium,Bangalore,279.0,587201.0,15.0,Karnataka,NaN,"77?41'39""E","12?42'22""N"
2,Vidyanagara,Bangalore,279.0,587201.0,15.0,Karnataka,NaN,"77?25'07""E","12?58'34""N"
3,Anekal,Bangalore Urban District.,274.0,587201.0,15.0,Karnataka,NaN,"77?36'15""E","13?00'48""N"
4,Honnigaanahatti (South),Bangalore Urban District.,274.0,562162.0,15.0,Karnataka,NaN,"77?30'52""E","13?03'03""N"

In [27]:
df.isnull().sum()

Name                  1
Address_line_1        1
District_ID           7
Pincode               6
state_id              1
sub_ownership_id      1
Column3             172
Longitude             3
Latitude              3
dtype: int64

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 172 entries, 0 to 171
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              171 non-null    object
 1   Address_line_1    171 non-null    object
 2   District_ID       165 non-null    float64
 3   Pincode           166 non-null    float64
 4   state_id          171 non-null    float64
 5   sub_ownership_id  171 non-null    object
 6   Column3           0 non-null      float64
 7   Longitude         169 non-null    object
 8   Latitude          169 non-null    object
dtypes: float64(4), object(5)
memory usage: 12.2+ KB

In [29]:
k =['state_id','Column3']
df.drop(k,axis =1, inplace = True)

In [30]:
df.head()

,Name,Address_line_1,District_ID,Pincode,sub_ownership_id,Longitude,Latitude
0,Sri Kanteerava Stadium,Bangalore,279.0,587201.0,Karnataka,"77?41'39""E","12?42'22""N"
1,Koramangala Indoor Stadium,Bangalore,279.0,587201.0,Karnataka,"77?41'39""E","12?42'22""N"
2,Vidyanagara,Bangalore,279.0,587201.0,Karnataka,"77?25'07""E","12?58'34""N"
3,Anekal,Bangalore Urban District.,274.0,587201.0,Karnataka,"77?36'15""E","13?00'48""N"
4,Honnigaanahatti (South),Bangalore Urban District.,274.0,562162.0,Karnataka,"77?30'52""E","13?03'03""N"

In [31]:
df.insert(loc=3, column= 'manager_contact_no',  value='01123384782',  allow_duplicates=True)
df.insert(loc=5, column= 'name_of_manager',  value='Shri Anurag Singh Thakur',  allow_duplicates=True)
df.insert(loc=6, column= 'state_id',  value='15',  allow_duplicates=True)

In [32]:
mod_df = df.dropna( how='any',inplace = False)
mod_df.head()

,Name,Address_line_1,District_ID,manager_contact_no,Pincode,name_of_manager,state_id,sub_ownership_id,Longitude,Latitude
0,Sri Kanteerava Stadium,Bangalore,279.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?41'39""E","12?42'22""N"
1,Koramangala Indoor Stadium,Bangalore,279.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?41'39""E","12?42'22""N"
2,Vidyanagara,Bangalore,279.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?25'07""E","12?58'34""N"
3,Anekal,Bangalore Urban District.,274.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?36'15""E","13?00'48""N"
4,Honnigaanahatti (South),Bangalore Urban District.,274.0,01123384782,562162.0,Shri Anurag Singh Thakur,15,Karnataka,"77?30'52""E","13?03'03""N"

In [33]:
df = df.fillna(0)
df.District_ID.astype(int)
df.fillna(df, inplace=True)

In [34]:
df.head()

,Name,Address_line_1,District_ID,manager_contact_no,Pincode,name_of_manager,state_id,sub_ownership_id,Longitude,Latitude
0,Sri Kanteerava Stadium,Bangalore,279.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?41'39""E","12?42'22""N"
1,Koramangala Indoor Stadium,Bangalore,279.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?41'39""E","12?42'22""N"
2,Vidyanagara,Bangalore,279.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?25'07""E","12?58'34""N"
3,Anekal,Bangalore Urban District.,274.0,01123384782,587201.0,Shri Anurag Singh Thakur,15,Karnataka,"77?36'15""E","13?00'48""N"
4,Honnigaanahatti (South),Bangalore Urban District.,274.0,01123384782,562162.0,Shri Anurag Singh Thakur,15,Karnataka,"77?30'52""E","13?03'03""N"

In [35]:
df.isnull().sum()

Name                  0
Address_line_1        0
District_ID           0
manager_contact_no    0
Pincode               0
name_of_manager       0
state_id              0
sub_ownership_id      0
Longitude             0
Latitude              0
dtype: int64